body, html {
    padding: 0;
    margin: 0;
    background-color: #F4F8F4;
}

.webpage {
    background-color: #F4F8F4;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #C0D7C0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border-right: solid black; 
    border-right-width: thin; 
}

.profile-pic { 
    margin-left: 10%;
    margin-right: 10%; 
    margin-top: 10%;
    border: solid black; 
    border-width: 1px; 
    width: 80%; 
}

.sidebar-text {
    font-family: "Tiems New Roman", Times, serif; 
    color: #2A2D26;
    font-size: 1.25em; 
    padding-left: 10%;
    padding-top: 10px; 
    padding-bottom: 0;
    margin: 0;
}

.main-area { 
    background-color: #F4F8F4;
    height: 100%; 
    position: relative;
    margin-left: 200px; 
}

.title-area {
    background-color: #8E9F8F; 
    position: relative;
    top: 0;
    margin: 0; 
    padding: 0; 
}

.title-text { 
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 40px; 
    padding-left: 20px; 
    padding-top: 20px; 
    margin: 0;
}

.subtitle-text { 
    font-family: "Times New Roman", Times, serif; 
    color: #464F46; 
    font-size: 20px; 
    padding-left: 20px; 
    padding-top: 10px; 
    padding-bottom: 20px;
    margin: 0;   
}

.main-content {  
    position: relative; 
    top: 0; 
    height: 100%;
    padding-bottom: 20px; 
}

.last-updated {
    position: relative; 
    top: 0; 
    padding-bottom: 20px; 
}

.main-text { 
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 20px; 
    padding-left: 0;
    padding-top: 10px;
    margin: 0; 
}

.main-section {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 0; 
    border: solid black; 
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0; 
    border-right-width: 0; 
    width: calc(100% - 40px);
}

.main-text-h2 {
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 28px;  
    margin: 0; 
}

.main-text-list {
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 20px; 
    padding-left: 40px; 
    padding-top: 10px; 
    padding-right: 20px; 
    margin: 0; 
}

.main-text-list-indent {
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 20px; 
    padding-left: 40px; 
    padding-top: 10px; 
    padding-right: 20px; 
    margin: 0; 
}

.main-text-details {
    font-family: "Times New Roman", Times, serif; 
    color: #2A2D26; 
    font-size: 20px;  
    padding-top: 10px; 
    padding-right: 20px; 
    margin: 0; 
}

.last-updated-text { 
    font-family: "Times New Roman", Times, serif; 
    font-style: italic; 
    color: #8B8B8B; 
    font-size: 14px; 
    padding-left: 20px; 
    padding-top: 10px; 
    padding-right: 20px; 
    margin: 0; 
}

.main-table {
    border: 1px solid black; 
    border-collapse: collapse; 
    padding-top: 10px; 
    margin-left: 20px; 
    width: calc(100% - 40px);
}

th, td, tr {
    border-collapse: collapse; 
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px; 
}

th {
    background-color: #BDCFBA;
}

tr { 
    background-color: #DCE6DA;
}
